@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (max-width: 600px) {
    .col-m-1 {width: 8.33%; background-color: aquamarine;  height: 50px; float: left;}
    .col-m-2 {width: 16.66%; background-color: blue; height: 50px; float: left;}
    .col-m-3 {width: 25%; background-color: red; height: 50px; float: left;}
    .col-m-4 {width: 33.33%; background-color: yellow; height: 50px; float: left;}
    .col-m-5 {width: 41.66%; height: 50px; float: left; background-color: orange}
    .col-m-6 {width: 50%; height: 50px; float: left; background-color: cyan}
    .col-m-7 {width: 58.33%; height: 50px; float: left; background-color: magenta}
    .col-m-8 {width: 66.66%; height: 50px; float: left; background-color: rebeccapurple}
    .col-m-9 {width: 75%; height: 50px; float: left; background-color: lawngreen}
    .col-m-10 {width: 83.33%; height: 50px; float: left; background-color: gray}
    .col-m-11 {width: 91.66%; height: 50px; float: left; background-color: violet}
    .col-m-12 {width: 100%; height: 50px; float: left; background-color: maroon}
    .col-m-12-bottem {width: 100%; height: 50px; float: left;}
	
	/* MOBIELE code binnen deze accolades van het @media stuk */
}

/* Voor DESKTOP */

#topbar{
	height: 200px;
	padding: 0px;
}

#gravo:hover{
	cursor: pointer;
}
#avivo:hover{
	cursor: pointer;
}
@media only screen and (min-width: 601px) {
    .col-1 {width: 8.33%; height: 50px; float: left; background-color: red}
    .col-2 {width: 16.66%; height: 50px; float: left; background-color: orange}
    .col-3 {width: 25%; height: 50px; float: left; background-color: yellow}
    .col-4 {width: 33.33%; height: 50px; float: left; background-color: green}
    .col-5 {width: 41.66%; height: 50px; float: left; background-color: cyan}
    .col-6 {width: 50%; height: 50px; float: left; background-color: blue}
    .col-7 {width: 58.33%; height: 50px; float: left; background-color: violet}
    .col-8 {width: 66.66%; height: 50px; float: left; background-color: darkviolet}
    .col-9 {width: 75%; height: 50px; float: left; background-color: hotpink}
    .col-10 {width: 83.33%; height: 50px; float: left; background-color: darkred}
    .col-11 {width: 91.66%; height: 50px; float: left; background-color: darkgreen}
	.col-12 {width: 100%; height: 50px; float: left; background-color: black}
	
	
	/* DESKTOP code binnen deze accolades van het @media stuk */
}